.box_author {
    margin-bottom: 30px;
    .author-box-wrap {
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap ;
        justify-content: flex-start ;
        align-items: center ;
        align-content: flex-start ;
        img {
            margin-right: 20px;
            border-radius: 50%;
        }
        span {
            display: block;
        }
    }
}

.box_author_news {
    .td-block-row {
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap ;
        justify-content: flex-start ;
        align-items: center ;
        align-content: flex-start ;
        margin: 0 -10px;
        .td-block-span6 {
            width: 33%;
            padding: 0 10px;
            @media (max-width: @screen-xs-max) {
                width: 100%;
            }
        }
    }
}