/*--------------------------------------------------------------
18 - mixin
--------------------------------------------------------------*/
//
// mixin
// --------------------------------------------------

// CSS3 PROPERTIES
// --------------------------------------------------
.placeholder(@color) {
    ::-webkit-input-placeholder {
        color: @color;
    }
    :-moz-placeholder {
        color: @color;
    }
    ::-moz-placeholder {
      color: @color;
    }
}
.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}
// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
// Transformations
.transform(@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.transform-style(@style) {
    transform-style: @style;
    -webkit-transform-style: @style;
}
.transform-origin (@deg1,@deg2){
		-webkit-transform-origin: @deg1 @deg2;
		-moz-transform-origin: @deg1 @deg2;
		-o-transform-origin: @deg1 @deg2;
		-ms-transform-origin: @deg1 @deg2;
		transform-origin: @deg1 @deg2;
}
.transition-delay (@time) {
	 -webkit-transition-delay: @time;
	-moz-transition-delay: @time;
	-o-transition-delay: @time;
	transition-delay: @time;
}
.rotate3d(@degrees) {
  -webkit-transform: rotate3d(@degrees);
      -ms-transform: rotate3d(@degrees); // IE9+
          transform: rotate3d(@degrees);
}
.rotate(@degrees,@size) {
 -webkit-transform: rotate(@degrees) translateX(@size);
	-moz-transform: rotate(@degrees) translateX(@size);
	-o-transform: rotate(@degrees) translateX(@size);
	-ms-transform: rotate(@degrees) translateX(@size);
	transform: rotate(@degrees) translateX(@size);
}
.transition-timing(@timing) {
	-webkit-transition-timing-function: @timing;
	transition-timing-function: @timing;
}
.transition(@transition) {
	-webkit-transition: @transition;
	 -moz-transition: @transition;
	-ms-transition: @transition;
	 -o-transition: @transition;
	transition:@transition;
}
// Reset filters for IE
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.effect-block-show() {
	visibility: visible;
	.opacity(1);
	top: 100%;
}
.effect-block-hide() {
	visibility: hidden;
	display: block;
	.transition(all 0.3s ease);
	.opacity(0);
	top: 120%;
}
.font-awesome (@code, @size){
	content: '\@{code}';
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.square(@size);
	text-align: center;
	line-height: @size;
}

.st_title() {  
  font-family: @headings-font-family;
  margin-bottom: 90px;
  font-size: 40px;
  text-align: center;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 40px;
    font-size: 30px;
  }
  span {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      bottom: 10px;
      width: 95px;
      left: 50%;
      margin-left: -47px;
      height: 8px;
      background: url("../images/ic_title.png") top left no-repeat;
    }
  }
  
}
.st_title_left() {  
  font-family: @headings-font-family;
  // margin-bottom: 90px;
  font-size: 40px;
  // text-align: center;
  @media (max-width: @screen-xs-max) {
    // margin-bottom: 60px;
    font-size: 30px;
  }
  span {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      bottom: 10px;
      width: 95px;
      left: 0%;
      // margin-left: -47px;
      height: 8px;
      background: url("../images/ic_title.png") top left no-repeat;
    }
  }
  
}

.box-shadow-hover() {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  &:hover {
    -webkit-transform: translate3d(0,-4px,0);
    -moz-transform: translate3d(0,-4px,0);
    -o-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,.06), 0 15px 40px 0 rgba(0,0,0,.12);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.06), 0 15px 40px 0 rgba(0,0,0,.12);
  }
  // box-shadow: 0 10px 15px 0 rgba(0,0,0,.06), 0 15px 40px 0 rgba(0,0,0,.12);
}
.box-shadow() {
  
   -webkit-box-shadow: 0 10px 15px 0 rgba(241, 230, 230, 0.08), 0 15px 40px 0 rgba(222, 206, 206, 0.23);
    box-shadow: 0 10px 15px 0 rgba(241, 230, 230, 0.08), 0 15px 40px 0 rgba(222, 206, 206, 0.23);
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}